<div class="image span5">
    <img id="beer_image">
</div>
<div id="beer_info span5">
    <h1 id="beer_name"></h1>
    <p class="info">
        <ul>
            <li id='beer_description' class='description'>Description: </li>
            <li id='beer_style' class='style'>Style: </li>
            <li id='beer_og' class="og">OG: </li>
            <li id='beer_fg' class="fg">FG: </li>
            <li id='beer_abv' class="abv">ABV: </li>
            <li id='beer_ibu' class="ibu">IBUs: </li>
        </ul>   
    </p>
</div>
